<h2>New Users</h2>
<%= form_for(@user) do |f| %>
  <fieldset>
    <legend>Username</legend>
    <%= f.text_field :username, placeholder: 'cool guy', maxlength: 10 %>
  </fieldset>

  <%= f.submit "User Create" %>
<% end %>
